@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Utilisé la même couleur sombre que dans Login.css */
  --bg-primary: #030712; 
  --text-main: #f9fafb;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body {
  background-color: var(--bg-primary);  
  color: var(--text-main);
  font-family: var(--font-family);
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}