@import "tailwindcss";

@theme {
  /* Définition de votre couleur personnalisée */
  --color-bg: #1f1f1f;
  --color-primary: #f2bb13;
  --color-secondary: #B497CF;
}
:root{
  --bg-primary: #000000e0;
  --text-main: #f8fafc;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: var(--bg-primary);  
  color:var(--text-main);
  font-family: var(--font-family);
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
}